@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=font_awesome);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}


body {
    height: 100%;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    background-image: linear-gradient(135deg, rgba(52, 152, 219, 0.9) 0%, rgba(243, 65, 65, 0.8) 100%), url('https://i.imgur.com/ZWeegbh.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 6%;

}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.avatar {
    background-image: url("https://i.imgur.com/d598nSK.png");
    background-size: cover;
    border-radius: 100%;
    margin: 4rem auto 2rem auto;
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease-in-out;
}

.bio {
    background-image: url("https://i.imgur.com/d598nSK.png");
    /*background-size: cover;*/
    border-radius: 6%;
    display: inline-block;
    margin-right: 32%;
    margin-left: 32%;
    margin-top: 2%;
     padding: 40px;
    /*margin: 4rem auto 2rem auto;*/
    /*width: 10rem;*/
    /*height: 10rem;*/
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease-in-out;
}

.avatar:hover {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.6);
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444444;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444444;
    margin: 0.5em 0 1em 0;
}

p {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444444;
}

.container {
    left: 50%;
    margin: 6em 0 0 -108px;
    position: absolute;
}

.social {
    position: relative;
    height: 3em;
    width: 13.5em;
}

.social li {
    border-radius: 10px;
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    transition: all 0.5s ease-in-out;
    transform: rotate(45deg);
    text-align: center;
    width: 4em;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}

.social a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    transform: rotate(-45deg);
    width: 4em;
}

@media only screen
and (max-width: 320px) {

    .container {
        left: 50%;
        margin: 5em 0 0 -64px;
        position: absolute;
    }

    .social {
        position: relative;
        height: 3em;
        width: 10em;
    }

    .social li {
        height: 3em;
        line-height: 3em;
        width: 3em;
    }

    .social a {
        height: 3em;
        line-height: 3em;
        width: 3em;
    }

}

.teach {
    background: rgba(255, 255, 255, 0.1);
    left: 0;
    top: 0%;
}

.teach:hover {
    background: #155b9d;
    box-shadow: 0 0 0 2px #155b9d;
}

.stud {
    background: rgba(255, 255, 255, 0.1);
    bottom: 0;
    left: 25%;
}

.stud:hover {
    background: #4099FF;
    box-shadow: 0 0 0 2px #4099FF;
}


.wish {
    background: rgba(255, 255, 255, 0.1);
    left: 50%;
    top: 0;
}

.wish:hover {
    background: #f34141;
    box-shadow: 0 0 0 2px #f34141;
}

.logout {
    background: rgba(255, 255, 255, 0.1);
    left: 75%;
    bottom: 0;
}

.logout:hover {
    background: #333333;
    box-shadow: 0 0 0 2px #333333;
}


.settings {
    background: rgba(255, 255, 255, 0.1);
    left: 100%;
    top: 0;
}

.settings:hover {
    background: #1abc9c;
    box-shadow: 0 0 0 2px #1abc9c;
}
.home {
    background: rgba(255, 255, 255, 0.1);
    right: 70%;
    top: 0;
}

.home:hover {
    background: rgb(65, 120, 254);
    box-shadow: 0 0 0 2px rgb(4, 109, 255);
}



