{% extends 'base.html' %}

{% block css_file %}
    <style>
        .body, html {
            background: linear-gradient(135deg, rgba(52, 152, 219, 0.9) 0%, rgba(243, 65, 65, 0.8) 100%);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            text-align: center
        }
    </style>
{% endblock %}

{% block content_main %}
    <div class=body style="margin-top: 6%;">
        <h1>Logout successfully!!!<h1>
    </div>
{% endblock %}
