@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Arsenal:400,700|Caveat:400,700|Gabriela|IBM+Plex+Mono:400,500,600,700|Neucha|Philosopher:400,700|Poiret+One&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
/*

    font-family: 'Caveat', cursive;

    font-family: 'Poiret One', cursive;

    font-family: 'Neucha', cursive;

    font-family: 'Philosopher', sans-serif;

    font-family: 'Anonymous Pro', monospace;

    font-family: 'Arsenal', sans-serif;

    font-family: 'IBM Plex Mono', monospace;

*/

body, html {
   font-family: 'Anonymous Pro', monospace;
    color: #1405f2;
  /*  background-image: url("images/back1.jpeg");
background-repeat:no-repeat;*/
}

/*Ð½Ð°ÑÑÑÐ¾Ð¹ÐºÐ¸ Ð¿Ð°Ð½ÐµÐ»Ð¸ Ð½Ð°Ð²Ð¸Ð³Ð°ÑÐ¸Ð¸Ð± Ð¿Ð¾Ð»Ð¾ÑÐ¸ ÑÐ²ÐµÑÑÑ*/

.navbar {
    font-family: 'Caveat', cursive;
    background: #F97300;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}


.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.bg-primary{
background-color:#007bff!important
}



.header{
    font-weight: bold;
    font-size: large;
    color: #0029f2;
}


.h1{
    font-size: larger;
}

 /* CSS only to highlight col-* */
 .row>div{
      background-clip: content-box;
}

 .container {
    /*  border: 1px dotted #ccc;*/
}

 .row {
      /*border: 1px dotted #ccc;*/
      border-left: 0;
      border-right: 0;
}

.up{
    min-width: 1000px;
    height: 100%;
    background: #9cf7ff url("449536844575203.jpg.svg");
}

 .desk{
     /* Цвет фона */


     margin-left: 120px;
     margin-right: 120px;
     background: #fc3 ;
     border: 10px solid rgba(90, 2, 12, 0.79);  /* Параметры рамки */
    padding: 20px; /* Поля вокруг текста */
     color: darkmagenta;
 }

 .column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}


@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: auto;
    }

    .column + .column {
        margin-left: 0;
    }
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
