<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="css/home_style.css">
    <title>Flying university</title>
    <link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">

    <script type="text/javascript" src='home.js'></script>

</head>


<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#">About</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="blog" href="#">Blog</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="team" href="#"> Team</a></li>
            <li class="nav-item">
                <a class="nav-link " data-value="contact" href="#">Contact</a></li>
        </ul>
    </div>
</nav>


<nav class="navbar navbar-expand-md sticky-top"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="column-2">Запцщенных курсов</div>
    </div>
    <div class="row">
        <!--  <div class="col-4"></div>-->
        <div class="column-2">участвует в прокте человек</div>
    </div>

    <centre><h1>Подвесной университет</h1></centre>
</div>


<section class=" desk">
    <div class="container-fluid">
        <div class="row">
            <div class="column-4">курсы</div>
            <div class="column-4">контакты</div>
            <div class="column-4">идея</div>
        </div>
    </div>

    <div class="container-fluid">
        <div id="sammary" class="row">
            <div class="column-8">
                <div style="text-align: center;">
                    <h3>Новости</h3>
                    <text>идёт набор ректората и волонтеров
                    </text>
                </div>
            </div>
            <div class="colum-2">


            </div>
            <div class="colum-2">
                <ul class="sidebar-nav">
                    <li> <h3>Объявления</h3></li>
                    <li><a>  </a></li>
                    <li><a href="">All books</a></li>
                    <li><a href="">All authors</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="down">

</section>
</body>
</html>

