{% extends "base.html" %}

{% block css_file %}
    {% load static %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/idea.css" %}">{% endblock %}
{% block title %} <title>Flying university</title>{% endblock %}

{% block script_js %}
    {% load static %}
    <script type="text/javascript" src='{% static "js/idea.js" %}'></script>{% endblock %}


{% block content_head %}
    <div class="view"
         style="background-image: url('https://cdn.pixabay.com/photo/2018/06/27/15/41/mountains-3501888_960_720.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4 white-text text-center">
                        <div class="name">
                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                                data-wow-delay="0.3s"><strong>Подвесной университет</strong></h1>
                            <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Знания
                                для всех, даром, и пусть никто не уйдёт обиженный</strong></h5>
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" data-value="contact"
                               href="{% url 'sign_up' %}">Присоединиться к проекту</a>
                            {#                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" >Присоединиться к проекту</a>#}

                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" data-value="contact"
                               href="{% url 'index' %}">Список курсов</a>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
{% endblock %}

{% block content_main %}
    <div class="container">
        <!--Grid row-->
        <div class="row py-5">
            <!--Grid column-->
            <div class="col-md-12 text-center">
                <p>Подвесной университет на данный момент строется в Москве и уже функционирует в Питере, хоть и
                    не
                    совсем так, как планировалось изначально. Основная его идея- бесплатная возможность получить
                    знания,
                    опыт в интересующей тебя области.
                    Просим честно указывать, если Вы имеете представление о запускающемся или запущенном курсе,
                    поскольку от этого напрямую будет зависеть развитие проекта. Даже если у Вас нет возможности стать
                    преподавателем Подвесного, Вы сможете иногда курировать, отвечать на вопросы, или хотя бы единожды
                    оцеить квалификацию найденного преподавателя.

                    Наш проект абсолютно бесплатный поэтому категорически запрещается собирать деньги на занятиях.
                    Запрещается заставлять делать что-то человека или выгонять с курса. При неадекватном поведении
                    студента, следует сообщить волонтёру, который в свою очередь уладит все проблемы.
                    Запрещается хамить кому-либо. Отношения обоих сторон должны быть уважительными и максимально
                    мирными, располагающими к развитию.
                    Студенту рекомедуется выполнять все требования, задания преподавателя. Конечно, можно просто быть
                    свободным слушателем, но тогда польза от занятий может резко сократиться.

                    Однако, несмотря на бюджетность курсов, поощеряется, если Вы захотите оплатить преподавателю кофе,
                    пожарить подарок на праздник, или просто оплатить обед. Если Вы хотите так выразить свою
                    благодарность, то это здорово. Однако это не должно быть становиться обязаностью. Не должно быть
                    принуждения каких-либо участников сдавать на это деньги. Если Вас есть возможность, не факт, что она
                    есть у всех.
                    Так же, при желании, можете посодействовать администрации, например, оплатив аренду сервера(или хотя
                    бы часть), или предложить свою помощь: волонтёры, сис.админы, веб-дизайнеры и веб-разработчики очень
                    нужны.

                    Наши волонтёры всегда рады ответить на любы Ваши вопросы или выслушать Ваши предложения.

                    На последок, хотим привести отрывок книги, вдохновивший на создание Подвесного:
                    Самый последний абзац книги А. и Б. Стругацких "Пикник на обочине":

                    "Жарило солнце, перед глазами плавали красные пятна, дрожал воздух на дне карьера, и в этом дрожании
                    казалось, будто шар приплясывает на месте, как буй на волнах. Он прошел мимо ковша, суеверно
                    поднимая ноги повыше и следя, чтобы не наступить на черные кляксы, а потом, увязая в рыхлости,
                    потащился наискосок через весь карьер к пляшущему и подмигивающему шару. Он был покрыт потом,
                    задыхался от жары, и в то же время морозный озноб пробирал его, он трясся крупной дрожью, как с
                    похмелья, а на зубах скрипела прес­ная меловая пыль. И он уже больше не пытался думать. Он только
                    твердил про себя с отчаянием, как молитву: «Я животное, ты же видишь, я животное. У меня нет слов,
                    меня не научили словам, я не умею думать, эти гады не дали мне научиться думать. Но если ты на самом
                    деле такой… всемогущий, всесильный, всепонимающий… разберись! Загляни в мою душу, я знаю – там есть
                    все, что тебе надо. Должно быть. Душу-то ведь я никогда и никому не продавал! Она моя, человеческая!
                    Вытяни из меня сам, чего же я хочу, – ведь не может же быть, чтобы я хотел плохого!.. Будь оно все
                    проклято, ведь я ничего не могу придумать, кроме этих его слов – СЧАСТЬЕ ДЛЯ ВСЕХ, ДАРОМ, И ПУСТЬ
                    НИКТО НЕ УЙДЕТ ОБИЖЕННЫЙ!»"

                    Да, у нас нет шара, исполняющего желания. Да, наша небольшая организация не способна изменить весь
                    мир.
                    Но мы можем улучшать его с каждым днём, развиваясь вместе с окружающими.
                    И в конце концов, когда уже мир расшевелится и отправится в далёкий путь к утопическому будущему?
                    Какое поколение молодых нигилистов начнёт дйствительно менять реальноть, например, доказывая, что
                    некоммерческий проект, основанный на гуманизме и желании помочь незнакомымлюдям, может существовать?
                    Может, прямо здесь и сейчас?
                    Присоединяться или нет - дело Ваше.
                    Всё, что мы можем сказать, и, надеюсь, будем повторять ещё многие годы:
                    "Знания для всех, даром, и пусть никто не уйдёт обижнный!"
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
{% endblock %}




