{% extends "base.html" %}

{% block css_file %}
    {% load static %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/index.css" %}">
{% endblock %}
{% block script_js %}{% endblock %}

{% block up %}
    <div class="row">
        <div class="col-md-12 text-center" style="font-family: 'Philosopher', sans-serif; margin-top: 7%">
            <h1>{{ title }}
                {% if active %}
                    <a href="{% url 'add_course' %}">
                        <botton type="button" role="button" class="btn btn-outline-secondary">Добавить
                            новый курс
                        </botton></a>
                {% endif %}

                {% if stu or wi %}
                    <a href="{% url 'index' %}">
                        <botton type="button" role="button" class="btn btn-outline-secondary">Выбрать
                            курс среди существующих
                        </botton>
                    </a>
                {% endif %}
            </h1>
            {% if domain %}
                <h3>Категории: {{ dom }}</h3>
            {% endif %}
            {% if type %}
                <h3>Подкатегории: {{ type }}</h3>
            {% endif %}
        </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right" style="font-family: 'Philosopher', sans-serif; margin-top: 1%">
            {#        {{  }}#}
        </div>
        {% if index %}


            <div class="dropdown" style="margin-bottom: 1%;margin-left: 70%; margin-right: 2%;">
                <button class="dropbtn">Категория</button>
                <div class="dropdown-content">
                    <a href="{% url 'index_with_domain' num=0 %}">Творчество</a>
                    <a href="{% url 'index_with_domain' num=1 %}">Рукоделие</a>
                    <a href="{% url 'index_with_domain' num=2 %}">Технические</a>
                    <a href="{% url 'index_with_domain' num=3 %}">Химбио</a>
                    <a href="{% url 'index_with_domain' num=4 %}">Гуманитарные</a>
                    <a href="{% url 'index_with_domain' num=5 %}">Другое</a>
                </div>
            </div>


            {% if domain %}
                <div class="dropdown" style="margin-bottom: 1%; margin-right: 2%;">
                    <button class="dropbtn">Подкатегория</button>
                    <div class="dropdown-content">
                        {% for t in types %}
                            <a href="{% url 'index_with_types' pk=t.pk %}">{{ t }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content_main %}
    <table>
        <thead>
        <tr>
            <th>Название курса
            <th>Статус
            <th>Дата начала занятий
            <th>Преподаватль
            <th>Категория
            <th>Подкатегория
        </thead>
        <tbody>
        {% for course in courses %}
            {% if course.status == "done" %}
                <tr>
                    <td><a href="{% url 'course_page' pk=course.pk %}"> {{ course.name }}</a>
                    <td>{{ course.status }}
                    <td>{{ course.date }}
                        {% else %}
                <tr class="disabled">
                <td><a href="{% url 'course_page' pk=course.pk %}">{{ course.name }}</a>
                <td>{{ course.status }}
                <td> ---
            {% endif %}
        {% if course.has_teacher %}
            <td>{{ course.teacher.last_name }}
                {% else %}
            <td> ---
        {% endif %}
            <td> {{ course.type.domain }}
            <td> {{ course.type }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


