@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Arsenal:400,700|Caveat:400,700|Gabriela|IBM+Plex+Mono:400,500,600,700|Neucha|Philosopher:400,700|Poiret+One&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');


body, html {

    font-family: 'Philosopher', sans-serif;
    font-size: 120%;
    color: rgba(236, 223, 3, 0.98);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-primary {
    background-color: #007bff !important
}


.header {
    /*margin-top: 10%;*/
    font-weight: bold;
    color: #0029f2;
    font-size: 150%;
}


.h1 {
    font-size: 300%;
}

.h3 {
    font-size: 200%;
}

/* CSS only to highlight col-* */
.row > div {
    background-clip: content-box;
}

.container {
    /*  border: 1px dotted #ccc;*/
    margin-right: 2%;
    margin-left: 2%;
}

.row {
    /*border: 1px dotted #ccc;*/
    border-left: 0;
    border-right: 0;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
    font-family: 'Caveat', cursive;
    color: rgba(209, 39, 219, 0.67);
    font-size: 160%;
    margin-right: 2%;
    margin-left: 2%;
}

.container-fluid-head {
    margin-top: 6%;
    font-size: 120%;
}

.container-fluid {
    margin-top: 1%;
}

.desk {
    /* Ð¦Ð²ÐµÑ ÑÐ¾Ð½Ð° */
    margin-top: 2%;
    margin-left: 120px;
    margin-bottom: 4%;
    margin-right: 120px;
    border: 10px solid rgba(90, 2, 12, 0.79); /* ÐÐ°ÑÐ°Ð¼ÐµÑÑÑ ÑÐ°Ð¼ÐºÐ¸ */
    padding: 20px; /* ÐÐ¾Ð»Ñ Ð²Ð¾ÐºÑÑÐ³ ÑÐµÐºÑÑÐ° */
    color: darkmagenta;
    font-size: 100%;
    background: #fc3 url("https://img4.goodfon.ru/original/1920x1080/b/25/tekstura-derevo-goluboi-belyi-fon-texture-wood-light-blue-wh.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}


@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: auto;
    }

    .column + .column {
        margin-left: 0;
    }


    .container-fluid-head {
        margin-top: 6%;
        font-size: 120%;
    }

    .container-fluid {
        margin-top: 1%;
    }

    .desk {
        /* Ð¦Ð²ÐµÑ ÑÐ¾Ð½Ð° */

        margin-left: 120px;
        margin-right: 120px;
        border: 10px solid rgba(90, 2, 12, 0.79); /* ÐÐ°ÑÐ°Ð¼ÐµÑÑÑ ÑÐ°Ð¼ÐºÐ¸ */
        padding: 20px; /* ÐÐ¾Ð»Ñ Ð²Ð¾ÐºÑÑÐ³ ÑÐµÐºÑÑÐ° */
        color: darkmagenta;
        font-size: 100%;
        background: #fc3 url("https://img4.goodfon.ru/original/1920x1080/b/25/tekstura-derevo-goluboi-belyi-fon-texture-wood-light-blue-wh.jpg");
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
    }

    body, html {
        font-family: 'Philosopher', sans-serif;
        font-size: 98%;
        color: #f28be8;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*   background-image: url("https://d.7fon.org/Perfect_highlands_%D0%BF%D0%B5%D0%B9%D0%B7%D0%B0%D0%B6.jpg?x1=0&y1=83&x2=728&y2=493&code=a03a6c5427b2a76822942a958dfb2684&width=2560&height=1440&hd=img");
           background-repeat: no-repeat;
           border-left: 600px;
           border-right: 600px;*/
    }

}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    /*margin-right: 2%;*/
    /*margin-left: 2%;*/
}
